.body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: url("../images/background.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 40px;
  font-weight: bold;
}

.main-title {
  border: 3px solid;
  border-image: linear-gradient(#f2e7ac, #d9aa52, #bf863f) 1;
  padding: 5px;
  background: #3c405973;
  color: #bf863f;
  -webkit-text-stroke: 0.1vw #3c4059;
  box-shadow: 5px 5px 10px black;
}

.info-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 20px;
}

.info {
  border: 3px solid;
  border-image: linear-gradient(#f2e7ac, #d9aa52, #bf863f) 1;
  padding: 5px;
  background: #f2e8ac60;
  color: #282e53;
  -webkit-text-stroke: 0.1vw #3c405979;
  box-shadow: 5px 5px 10px black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8) brightness(50%) sepia(100%) saturate(10000%)
    hue-rotate(240deg);
}

#date-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

#date {
  border: 3px solid;
  border-image: linear-gradient(#f2e7ac, #d9aa52, #bf863f) 2;
  padding: 5px;
  box-shadow: 5px 5px 10px black;
  font-size: 15px;
  font-weight: bold;
  background: #f2e8ac60;
  color: #282e53;
  -webkit-text-stroke: 0.1vw #3c405979;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#btnSubmit {
  cursor: pointer;
  border: 3px solid;
  border-image: linear-gradient(#f2e7ac, #d9aa52, #bf863f) 2;
  padding: 5px;
  box-shadow: 5px 5px 10px black;
  font-size: 15px;
  font-weight: bold;
  background: #f2e8ac60;
  color: #282e53;
  -webkit-text-stroke: 0.1vw #3c405979;
}

#btnSubmit:hover {
  font-size: 20px;
  border: 4px solid;
  border-image: linear-gradient(#f2e7ac, #d9aa52, #bf863f) 2;
  color: #282e53;
  background: #f2e8ac60;
  box-shadow: 10px 10px 10px black;
  transition: 0.7s;
}
